@import url("../fonts.scss");

header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(1440px, 100%);
  margin: 0 auto;
  box-sizing: border-box;
  @media all and (max-device-width: 880px) {
    max-width: 600px;
  }
  @media all and (max-device-width: 550px) {
    justify-content: space-evenly;
  }
  & .header-title {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: var(--fs-xxl);
    @media all and (max-device-width: 550px) {
      display: none;
    }
  }
  & .header-nav {
    display: flex;
    gap: 20px;
    align-items: center;
    & .header-nav-link {
      list-style: none;
      cursor: pointer;
      color: #1b1b1b;
      font-size: var(--fs-m);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
